<template>
<div>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <span class="is-size-1 has-text-success is-family-monospace">
        {{word}}
        </span>
      </div>
    </div>
  </div>

  <nav class="level">
    <!-- Left side -->
    <div class="level-right">
      <span class = "is-size-5">
            Choose speed: 
      </span>      
      <div class="field">
        <div class="control">
          <div class="select">
            <select v-model="speed" @change="changeSpeed">
              <option disabled value="">Please select speed</option>
              <option>0.5</option>
              <option>0.75</option>
              <option>1</option>
              <option>1.5</option>
              <option>2</option>
              <option>2.5</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- Right side -->
    <div class="level-left">
      <div class="level-item">
        <button class="button is-large"
          :class="{ 'is-primary': !runState, 'is-danger': runState}"
          @click="changeRunState">{{startStop}}</button>
      </div>
    </div>
  </nav>

</div>
</template>

<script>
// @ is an alias to /src
import words from "@/assets/words.js"

export default {
  name: 'Home',
  data() {
    return {
      word: 'Press start to begin',
      speed: 1,
      intervalid: null,
      runState: false
    }
  },
  computed: {
      interval() {
        return this.speed * 1000
      },
      startStop() {
        if (this.runState == true){
          return 'Stop';
        } else {
          return 'Start';
        }
      }
  },
  beforeUnmount: function(){
    clearInterval(this.intervalid)
  },
  methods : {
    changeRunState: function(){
      clearInterval(this.intervalid);
      if (this.runState == false){
        this.runState = true;
        this.intervalid = setInterval(() => {
          this.changes = ((Math.random() * 100).toFixed(2))+'%';
          const wordArray = Array.from(words)
          var index = Math.floor(Math.random() * Math.floor(wordArray.length))
          this.word =  wordArray[index]
        }, this.interval);
      } else {
        this.runState = false;
      }
    },
    clearInterval() {
      clearInterval(this.intervalid)
    },
    changeSpeed() {
      if(this.runState == true){
        this.runState = false;
        this.changeRunState();
      }
    }
  },
}
</script>

<style scoped>
</style>