<template>
    <h4>{{title}}</h4>
    <slot></slot>
    <button @click="$emit('enlarge-text')">
        Enlarge text
    </button>
</template>

<script>
export default {
    name: "MyList",
    props: ['title'],
}
</script>


