
<template>
  <!-- <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>
  </div> -->
  <section class="section">
    <div class="container">
      <Nav></Nav>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <router-view/>
    </div>
  </section> 
</template>

<script>
import Nav from '@/components/Nav.vue'

export default {
  name: 'App',
  components: {Nav}
}
</script>


<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
